body{
    margin: 0;
}
#login_frame{
    margin: 10% auto;
    width: 300px;
    height: 200px;
    background-color: 	#F5F5F5;
    display: block;
    overflow:hidden;
    border-radius: 3px;
    box-shadow: 0 0 5px 1px #DCDCDC;
}
#login_1{
    width: 170px;
    height: 25px;
    margin: 30px auto 10px auto;
}
#login_2{
    width: 170px;
    height: 25px;
    margin: 10px auto;
}
#login_3{
    width: 172px;
    height: 60px;
    margin: 10px auto;
}
#login_btn{
    width: 172px;
    height: 25px;
    margin: 0px auto 5px auto;
    text-align: center;
    background-color:#C0C0C0; 
    border: 0 solid;
    border-radius: 2px;
    color:#fff;
    display: block;
    outline: none;
    cursor:pointer;
    font-size: 15px;
    -webkit-transition:background-color 300ms;
    -moz-transition:background-color 300ms ;
    transition:background-color 300ms ; 
}
#login_btn:hover{
    background-color:#808080;
}
#login_reg{
    font-size: 15px;
    display: block;
    width: 172px;
    height: 23px;
    padding-top: 2px;
    margin: 0px auto;
    text-decoration:none;
    text-align: center;
    border-radius: 2px;
    background-color: #FA8072;
    color: #fff;
    -webkit-transition:background-color 300ms;
    -moz-transition:background-color 300ms ;
    transition:background-color 300ms ; 
}
#login_reg:hover{
    background-color: #FF4500;
}
.login_input{
    width: 150px;
    height: 25px;
    padding: 0px 10px;
    border: 0;
    border-radius: 3px;
    border: 1px solid #fff;
    outline: none;
}
.login_input:focus{
    border: 1px solid #C0C0C0;
}

.login_input_change:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #FA8072;  
}

.login_input_change::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #FA8072;
}

input.login_input_change:-ms-input-placeholder{
    color: #FA8072;
}

input.login_input_change::-webkit-input-placeholder {
    color: #FA8072;
}