#register_frame{
    margin: 10% auto;
    width: 300px;
    height: 180px;
    padding-top:20px; 
    background-color: 	#F5F5F5;
    display: block;
    overflow:hidden;
    border-radius: 3px;
    box-shadow: 0 0 5px 1px #DCDCDC;
}
.register_input{
    display: block;
    margin: 10px auto;
    width: 150px;
    height: 25px;
    padding: 0px 10px;
    border: 0;
    border-radius: 3px;
    border: 1px solid #fff;
    outline: none;
}
.register_input:focus{
    border: 1px solid #C0C0C0;
}
#register_btn{
    width: 172px;
    height: 25px;
    margin: 0px auto 5px auto;
    text-align: center;
    background-color:#FA8072; 
    border: 0 solid;
    border-radius: 2px;
    color:#fff;
    display: block;
    outline: none;
    cursor:pointer;
    font-size: 15px;
    -webkit-transition:background-color 300ms;
    -moz-transition:background-color 300ms ;
    transition:background-color 300ms ; 
}
#register_btn:hover{
    background-color:#FF4500;;
}

.register_input_change:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #FA8072;  
}

.register_input_change::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #FA8072;
}

input.register_input_change:-ms-input-placeholder{
    color: #FA8072;
}

input.register_input_change::-webkit-input-placeholder {
    color: #FA8072;
}